body{
background-color: #42f492;
	
}
div.head { 
 text-align: center;
background-color: #42f492;

 }
 
 h2 {
 	text-align: center;
 	font-size: 35;
 	font-style: italic;
 }

ul{
text-align: center;
border-style: dashed;
border-radius: 5px;
margin-right: 590px;
margin-left: 550px;
font-size: 20px;

}

div.bodyp{ 
text-align: center;
font-size: 42px
 }

 div.abtme{

font-size: 20;
text-align:center;
 }