h1{

font-family: 'Architects Daughter', cursive;
color: #f442b3;
font-size:50px;
}
div.location{

font-size: 28px;
font-family: 'Architects Daughter', cursive;
color: #f442b3

}

body{
background-color: #add3d3;

}
div.head { 
 text-align: center;
background-color: #add3d3;

 }
 
 h2 {
 	text-align: center;
 	font-size: 35px;
 	font-family: 'Architects Daughter', cursive;
	color: #f442b3;
 }

ul{

}

div.bodyp{ 
text-align: center;
font-size: 42px;
font-family: 'Architects Daughter', cursive;
	color: #f442b3
 }

 div.abtme{

font-size: 20;
text-align:center;
font-family: 'Architects Daughter', cursive;
color: #f442b3;
 }

.pics{
text-align: center;
padding: 20px;
}

.picture{
border: 3px solid; 
border-color: #f442b3;


}

.alignedb{
font-size: 23px;
text-align: center;
color: #f442b3;
font-weight: bold; 
}
div.aligneda{

}

h3{
text-align: center;
font-size: 42px;
font-family: 'Architects Daughter', cursive;
color: #f442b3;
text-decoration: underline;

}