div.border{

	border-image: url(border.jpg);
	border-image-repeat: repeat;
}




body{
background-color: #add3d3;

}
div.head { 
 text-align: center;
background-color: #add3d3;

 }
 
 h2 {
 	text-align: center;
 	font-size: 35;
 	font-style: italic;
 }

ul{
text-align: center;
border-style: dashed;
border-radius: 5px;
margin-right: 590px;
margin-left: 550px;
font-size: 20px;

}

div.bodyp{ 
text-align: center;
font-size: 42px
 }

 div.abtme{

font-size: 20;
text-align:center;
 }

 div.pics{
padding: 40px;


 }